<%
// DefaultLayout.ejs - 基本レイアウト
// データをローカル変数として渡す
const locals = frontMatter;
locals.pagePath = pagePath;
locals.pageId = pageId;
%>
<!DOCTYPE html>
<html lang="<%= SITE_CONFIG.defaultLocale %>">
  <%- include('./Head.ejs', { locals }) %>
  <body data-page="<%= pageId %>">
    <%- include('./Analytics.ejs', { position: 'body' }) %>
    <%- include('./Header.ejs', { locals }) %>
    
    <main class="site-main">
      <div class="container">
        <%- content %>
      </div>
    </main>
    
    <%- include('./Footer.ejs', { locals }) %>
  </body>
</html>