<%
// Header.ejs
const { pagePath } = locals;
const isActive = (path) => pagePath === path ? 'active' : '';
%>
<header class="site-header">
  <div class="container">
    <p class="site-logo">
      <a href="<%= url('/') %>"><%- SITE_CONFIG.name %></a>
    </p>
    <nav class="site-nav">
      <ul>
        <li><a href="<%= url('/') %>" class="<%- isActive('/') %>">トップページ</a></li>
        <li><a href="<%= url('/about.html') %>" class="<%- isActive('/about.html') %>">このプロジェクトについて</a></li>
      </ul>
    </nav>
  </div>
</header>