<%
// Header.ejs
const instagramUrl = data.site?.sns?.instagram || 'https://www.instagram.com/'
const homeUrl = url('/')
%>
<header id="section-header" class="site-header">
  <div class="container">
    <p class="site-logo">
      <a href="<%= homeUrl %>"><%- SITE_CONFIG.name %></a>
    </p>
    <nav class="site-nav" aria-label="Mori Coffee site navigation">
      <ul>
        <li><a href="<%= homeUrl %>#concept">Concept</a></li>
        <li><a href="<%= homeUrl %>#menu">Menu</a></li>
        <li><a href="<%= homeUrl %>#space">Space</a></li>
        <li><a href="<%= homeUrl %>#access">Access</a></li>
      </ul>
    </nav>
    <a class="site-header__cta" href="<%= instagramUrl %>" target="_blank" rel="noopener noreferrer">Instagram</a>
  </div>
</header>
